nav a {
  color: white;
  border-radius: 5px;
}

nav a:hover {
  background-color: #444;
  color: white;
}

.active {
  background-color: grey;
  color: white;
  margin: 0 5px;
}


header {
  padding: 15px 0px 5px 15px;
}